﻿@page "/"
@namespace ThinkGeo.UI.Blazor.HowDoI.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ThinkGeo Web UI for Blazor Samples - Build Better Maps Faster</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
    <base href="~/" />
    <link rel="stylesheet" href="css/lib/bootstrap/bootstrap.min.css" />
    <!--SNS-->
    <meta property="og:image" content="images/style/thinkgeo.png" />
    <meta property="og:site_name" content="ThinkGeo.com" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.thinkgeo.com/" />
    <meta property="og:title" content="Online Example" />
    <meta property="og:description" content="ThinkGeo Web UI for Blazor Samples." />

    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/media.css" rel="stylesheet">
    <link href="css/lib/highlight/css/tomorrow-night.css" rel="stylesheet">

    
    <link href="https://cdn.thinkgeo.com/blazor/1.0.0-beta008/blazor.css" rel="stylesheet" />
    <!-- Favicons-->
    <link rel="shortcut icon" href="images/favicon.png" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png" />
</head>
<body>
    <app>
        @* Remove the following line of code to disable prerendering *@
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script src="https://cdn.thinkgeo.com/vectormap-icons/2.0.0/webfontloader.js"></script>
    <script>

        WebFont.load({
            custom: {
                families: ["vectormap-icons"],
                urls: ["https://cdn.thinkgeo.com/vectormap-icons/2.0.0/vectormap-icons.css"],
                testStrings: {
                    'vectormap-icons': '\ue001'
                }
            },
            // The "active" property defines a function to call when the font has
            // finished downloading.  Here, we'll call our initializeMap method.
            active: function () {
                if (window.blazorObjects && window.blazorObjects.map) {
                    let map = window.blazorObjects.map;
                    let layers = map.getLayers();
                    for (let i = 0; i < layers.getLength(); i++) {
                        let layer = layers.item(i);
                        layer.getSource().refresh(true);
                    }
                }
            }
        });

    </script>
    <script src="https://cdn.thinkgeo.com/blazor/1.0.0-beta008/blazor.js"></script>
    <script src="css/lib/highlight/js/highlight.pack.js"></script>
    <script src="css/lib/highlight/js/cshtml-razor.js"></script>
    <script src="css/lib/highlight/js/highlightjs-line-numbers.min.js"></script>
    <script src="js/jquery.slim.min.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script>
        var currentView;
        hljs.registerLanguage('cshtml-razor', window.hljsDefineCshtmlRazor);
        //hljs.initHighlightingOnLoad();

        function formatCode(code) {
            document.getElementsByTagName("code")[0].innerHTML = code;

            document.querySelectorAll('pre code').forEach((block) => {
                hljs.highlightBlock(block);
                hljs.lineNumbersBlock(block);
            });
        }

        var showLoadingBackdrop = function (target) {
            $('#loading-backdrop').remove();
            $('<div class="modal-backdrop fade" id="loading-backdrop"><div class="loading-spinner"><i class="fa fa-spinner fa-spin fa-5x"></i></div></div>').appendTo(target ? target : document.body);
            if (target) {
                $(target).css({ 'position': 'relative' });
                $('#loading-backdrop').css({ 'position': 'absolute' });
            }
            window.setTimeout("$('#loading-backdrop').addClass('show')", 100);
        };

        var hideLoadingBackdrop = function () {
            $('#loading-backdrop').removeClass('show');
            window.setTimeout("$('#loading-backdrop').remove()", 500);
        };

        var closeRazor = function () {
            currentView = undefined;
            $('#content').removeClass('split-output');
            $('#html-link').removeClass('active');
            $('#razor-box').removeClass('active');
            var mapObject = window.blazorObjects.map;
            mapObject.updateSize();
        };

        var openRazor = function () {
            currentView = 'Razor';
            $('#content').addClass('split-output');
            $('#html-link').addClass('active');
            $('#razor-box').addClass('active');
            var mapObject = window.blazorObjects.map;
            mapObject.updateSize();
        };

        $(function () {
            $('body').on('click', '#code-type', function () {
                if (currentView) {
                    closeRazor();
                } else {
                    openRazor();
                }
            });
        });
    </script>
</body>
</html>
